- name: Install DevOps tools
  hosts: gcp_vms
  become: yes

  tasks:
    - name: Install Git
      yum:
        name: git
        state: present

    - name: Install Docker
      yum:
        name: docker
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes
    - name: start sonarqube
      yum: 
       name: sonarqube
       state: present
    - name: Start sonarqube
      service: 
        name: sonarqube
        state: started
        enabled: yes
